nav#push-menu {
  background-color: black;
  color: white;
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 1000000000000;
  right: 0;
  margin-right: -320px;
  transition: 0.2s linear;
  padding: 0 10px;
  top: 0;
  opacity: 0.7; }

.isOpenMenu {
  margin-right: 0px !important;
  right: 0px !important; }
  .isOpenMenu form {
    position: relative;
    right: 0px; }

div#icon-menu p {
  color: red;
  font-size: 30pt;
  font-weight: bold;
  position: absolute;
  z-index: 1000000000000;
  right: 0;
  margin-right: 50px;
  margin-top: 20px;
  text-shadow: 0px 0px 12px #969696;
  cursor: pointer;
  transition: 0.2s linear; }

div#icon-menu .isOpen {
  margin-right: 320px; }

div#content-menu {
  position: absolute;
  z-index: 1000000000000;
  right: -300px;
  transition: 0.2s linear;
  text-align: left; }
  div#content-menu h2 {
    color: white;
    margin-right: 42px; }
  div#content-menu h4 {
    color: white;
    font-weight: bold; }
  div#content-menu .form-control {
    width: 97% !important; }
  div#content-menu button {
    font-weight: bold; }

@media (min-width: 320px) and (max-width: 1024px) {
  div#content-menu {
    position: absolute;
    z-index: 1000000000000;
    right: -310px;
    transition: 0.2s linear;
    text-align: left; }
  nav#push-menu {
    background-color: black;
    color: white;
    width: 260px;
    height: 100%;
    position: absolute;
    z-index: 1000000000000;
    right: 0;
    margin-right: -280px;
    transition: 0.2s linear;
    padding: 0 10px;
    top: 0;
    opacity: 0.7; }
  div#icon-menu .isOpen {
    margin-right: 280px; }
  div#content-menu h2 {
    margin-right: 70px;
    font-size: 16pt; }
  div#icon-menu p {
    margin-right: 20px; } }
